@model CustomerDevTask.Web.Models.EditableCustomerViewModel
@{
    ViewData["Title"] = "Edit Customer";
}
@if (@Model.IsSaved.HasValue && !Model.IsSaved.Value)
{
    <div class="alert alert-danger">
        <strong>Error saving customer record.</strong>
    </div>
}
else
{
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Edit Customer</h4>
            <hr />
            <partial name="_CustomerDetails" mdoel="model" />
        </div>
    }
}
